@import "variables";

@mixin button() {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 7px 0 9px 0;
  text-align: center;
  width: 120px;
  border: none;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  span {
    font-size: 14px;
    font-weight: bold;
    margin-left: -3px;
  }
}

@mixin bottle-btn() {
  text-align: center;
  margin: 0 0 0 40px;
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 7px 0 9px 0;
    text-align: center;
    width: 120px;
    border: none;
    outline: none;
    background-color: $button;
    border-radius: 5px 15px 15px 5px;
    cursor: pointer;
    span {
      font-size: 14px;
      font-weight: bold;
      margin-left: -3px;
    }
  }
  div {
    display: inline-block;
    width: 40px;
    height: 18px;
    margin: 0 0 -4px -5px;
    border-radius: 0 5px 5px 0;
    background-color: $button;
    cursor: pointer;
  }
}

@mixin content-area() {
  position: absolute;
  width: 100%;
  top: 115px;
  bottom: 50px;
  overflow: auto;
  color: $white;
  background-color: $grey;
  background-size: 100%;
}

@mixin sub-heading() {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 40px;
  left: 0;
  overflow: hidden;
  z-index: 1000;
  h2 {
    text-align: center;
    margin: 0;
    font-size: 28px;
  }
}

@mixin content-heading() {
  margin: 10px auto 0;
  font-size: 16px;
  text-align: center;
  color: $black;
  width: 75%;
  @include truncate-text();
}

@mixin content-sub-heading() {
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  color: $black;
  width: 75%;
  @include truncate-text();
}

@mixin truncate-text() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin listing() {
  text-align: center;
  outline: none;
  color: $content-text;
  width: 80%;
  margin: 3% auto;
  border-bottom: 1px solid $content-text;
  .title-line {
    font-size: 18px;
    padding: 0 0 1% 0;
    @include truncate-text();
  }
  .comment {
    font-size: 18px;
    padding: 0 0 1% 0;
  }
  .detail-line {
    font-size: 14px;
    padding: 0 0 1% 0;
    @include truncate-text();
  }
}

@mixin close-x() {
  position: absolute;
  color: $content-text;
  top: 3%;
  right: 5%;
  cursor: pointer;
}

@mixin entry-form() {
  width: 80%;
  margin: 4% auto;
  padding: 7% 0 10%;
  text-align: center;
  color: $content-text;
  background-color: $form-background;
  border-radius: 15px;
  position: relative;
  i {
    @include close-x();
  }
  h4 {
    font-size: 14px;
  }
  .entry-fields {
    label {
      display: block;
      font-size: 14px;
      margin: 0 0 1% 0;
    }
    .message {
      margin: 0 0 0 0;
      padding: 0;
      color: $aqua;
      min-height: 12px;
    }
    .radio-select {
      margin-bottom: 5%;
    }
    input[type="text"],
    input[type="number"] {
      font-size: 18px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      border-radius: 15px;
      text-align: center;
    }
    input[type="text"]:focus,
    input[type="number"]:focus {
      border-radius: 15px;
      outline: none;
      box-shadow: inset 0 0 5px 1px $footer;
    }
    textarea {
      resize: none;
      width: 60%;
      margin-bottom: 5%;
    }
  }
  button {
    @include button();
    background-color: $content-text;
  }
  button[disabled] {
    background-color: $faded-orange;
    color: $grey;
    cursor: not-allowed;
  }
}
