$white: #fafafa;
$grey: #d3d3d3;
$dark-grey: #a9a9a9;
$black: #090909;

$light-aqua: #78c1ce;
$blue: #005778;
$light-orange: #f8c9a3;
$orange: #faa75e;
$dark-orange: #f58220;
$faded-orange: #e7a670;
$green: #97dfb7;

//not used
$light-red: #fa8f93;
$red: #f52028;
$yellow: #fcf9b6;
$aqua: #008e97;

$header: $light-aqua;
$app-background: $white;
$auth-label: $blue;
$input-focus: $light-aqua;
$auth-accent: $orange;
$content-text: $dark-orange;
$form-background: $light-orange;
$button: $green;
$disabled-button: $faded-orange;
$footer: $blue;
