@import "mixins";

.sub-heading {
  @include sub-heading();
  .bottle-btn {
    @include bottle-btn();
  }
}
.content {
  @include content-area();
  box-sizing: border-box;
  color: $black;
  .beer-listing {
    @include listing();
    cursor: pointer;
  }
  h3 {
    @include content-heading();
  }

  @media (min-width: 768px) {
    .beer-listing {
      width: 50%;
    }
  }
}
