<section class="content">
  <div class="hero">
    <div class="hero-text">
      <p>
        <strong>HopHub</strong> serves as your source for finding, saving, and
        sharing your thoughts on beers. While there are many reasons why you may
        want to analyze the minute details of what differenciates one beer from
        another, the main focus here is simply to record how drinkable you find
        the beer to be.
      </p>
      <p>Would you drink this beer again?</p>
      <p>
        Not only does this help you remember if a beer is worth buying again for
        yourself, but by looking up the reviews of others, it can also help you
        decide which beer to bring to a social gathering. Remember the beers you
        like, forget the ones you don't.
      </p>
    </div>
  </div>
</section>
